@font-face {
  font-family: Mangaba;
  src: url("../Font/Mangaba.otf");
}
body{
  overflow-x: hidden;

}
.name{
  text-align: left;
  margin: 0 0 0 0;
  color: black;
  font-size: 50px;
  font-family:"Mangaba";
  padding-left: 20px;
}

.navbar{
  font-family: 'Trebuchet MS';
  font-size: 20px;
  font-weight: bolder;
  text-align: right;
  background-color: rgb(252, 252, 252);
  font-family: ""Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;"
}

a{
  padding-right: 6.5%;
  color: black;
  font-size: 23px;
  text-decoration: none;
}
.Tab {
  display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D1E8BA; 
    text-align: center;
    font-size: 250%;
    width: 1400px;
    height: 100px;
    margin-left: 0px;
    font-family: "Mangaba";
    font-weight: bold;

}
.container1{
  width: 100%;
  max-width: 1200px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  
}
.container1 .card{
  width: 350px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2) ;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  background-color:#EDEBC9;
  font-family: 'Rubik', sans-serif;
  
}
.container1 .card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgb(0, 0, 0, 0.2);
}
.icono{
  width: 200px;
  height: 200px;
  text-align: center;
}
.Title{
  font-family: "Mangaba";
  font-size: 300%;
  text-align: center;
  text-decoration: underline;
  color:#D3A338;
}

form{
  width: 90%;
  position: relative;
  text-align: left;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: bolder;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 2.5px solid #99D58D;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical
 }

input[type=submit] {
  background-color: #99D58D;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #BDDFA6;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 150px;
  align-items: center;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  font-family: 'Rubik', sans-serif;

}

figure{
  display: grid;
  grid-template-columns: auto auto;
  width: 170px;
  padding-top: 10px;
}


  /*Aqui comienza el css de los puntitos*/
  .contenedor_loader {
    background-color: #f3f3f3;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: all 1.5s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loader, 
  .loader:before,
  .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: loader 1.5s infinite ease-in-out;
  }

  .loader {
    color: black;
    font-size: 13px;
    position: relative;
    animation-delay: -0.16s;
  }

  .loader:before,
  .loader:after {
    content:'';
    position: absolute;
    top: 0;
  }

  .loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 3.5em;
  }

  @keyframes loader {
   0%,
   80%,
   100% {
    box-shadow: 0 2.5em 0 -1.3em;
   }
   40% {
    box-shadow: 0 2.5em 0 0;
   }
  }

  .Piedepag{
    background-color:#99D58D;
    margin-top:auto;
    text-align: center;
}
    
.Piedepag .group1{
    width: 80%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.Piedepag .group1 .box h1{
  text-align: left;
  margin: 0 0 0 0;
  color: black;
  font-size: 50px;
  font-family:"Mangaba";
  
}
.Piedepag .group1 .box img{
    width: 50px;
}
.Piedepag .group1 .box icono{
    width: 50px;
}
.Piedepag .group1 .box h2{
    color:white;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;
}
.Piedepag .group1 .box li{
    color: black;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS';
    font-weight: bold;

}
.Piedepag .group1 .box a{
    display:inline-block;
    text-decoration: none;
    width: 50px;
    height: 50px;
    color:#fff;
    margin-right: 30px;
    background-size: 50px;
    text-align: center;
    transition: all 300ms ease;
}
.Piedepag .group1 .box a:hover{
    color: #f3f3f3;
}
.Piedepag .group2{
    background-color:#D1E8BA;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    font-family: 'Trebuchet MS';
}
.Piedepag .group2 small{
    font-size: 15px;
}
